:root {
  font-size: 19px;
  --colorB1: hsla(180, 15%, 10%, 1);
  --colorB2: hsla(200, 25%, 25%, 1);
  --colorB3: hsla(200, 25%, 35%, 1);
  --colorF1: hsla(21, 75%, 60%, 1);
  --colorF2: hsla(21, 55%, 75%, 1);
  --borderRadius: 0;
  --width: 75vw;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
input,
button {
  all: unset;
  text-align: center;
}

body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorB1);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem 0 0.3rem 0;
}

h3 {
  font-size: 1.25rem;
}

.color-gray1 {
  background-color: var(--colorB2);
  color: var(--colorF1);
}

.color-gray2 {
  background-color: var(--colorB3);
  color: var(--colorF2);
}

.border-radius {
  border-radius: var(--borderRadius);
}

input,
label,
button,
select {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.15rem 0;
}

header {
  width: 100vw;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: var(--colorB3);
  color: var(--colorF2);
}

form {
  width: var(--width);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 0.3rem;
}
form label {
  text-align: center;
  text-transform: uppercase;
}
form button {
  grid-column: span 2;
  text-align: center;
  text-transform: uppercase;
}

.userProfile {
  width: var(--width);
  margin: 2rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(6, auto);
  border-radius: var(--borderRadius);
}
.userProfile .remove-record {
  grid-column: span 2;
  grid-row: span 1;
  padding: 0.5em;
  text-align: center;
  border-radius: var(--borderRadius);
}
.userProfile .photo {
  grid-column: span 1;
  grid-row: span 6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--borderRadius);
}
.userProfile .userStatsAll {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--borderRadius);
  justify-content: space-between;
  border-radius: var(--borderRadius);
}
.userProfile .userStatsAll .userStat {
  border-radius: var(--borderRadius);
  padding: 0.5em;
  display: flex;
  align-items: center;
}
.userProfile .userInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: var(--borderRadius);
  padding: 0.5em;
}
.userProfile .goToProfile {
  grid-column: span 2;
  grid-row: span 1;
  padding: 0.5em;
  text-align: center;
  border-radius: var(--borderRadius);
  text-decoration: none;
}

.notFound {
  width: var(--width);
  padding: 5rem 0;
  font-size: 3rem;
  text-align: center;
}

span {
  color: var(--colorF2);
}

span:before {
  content: " ";
}

span:after {
  content: " ";
}

@media (orientation: portrait) {
  :root {
    font-size: 30px;
    --width: 95vw;
  }

  .userProfile {
    grid-template-columns: 5fr 4fr;
    grid-auto-rows: auto;
  }
  .userProfile .photo {
    min-height: 50vw;
    grid-column: span 1;
    grid-row: span 1;
  }
  .userProfile .userStatsAll {
    grid-column: span 1;
    grid-row: span 1;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .userProfile .userInfo {
    grid-column: span 2;
    grid-row: span 1;
  }
  .userProfile .goToProfile {
    grid-column: span 2;
  }
}

/*# sourceMappingURL=styles.css.map */
